<div class="spacer"></div>

<h1>User Profile Page</h1>

<p>Hello <%=@user.name.capitalize %>!</p>

<h3><%=@user.name.capitalize %>'s Projects:</h3>

<% @user.projects.each do |project| %>
  <p> <%= project.name %> </br>
      <%= project.description %> </br>
      <b>Goal:</b> $<%= project.goal %> </br>
      <b>Deadline:</b> <%= project.deadline %> </br>
  </p>
<% end %>

<%= link_to "Start a New Project", new_project_url %>

<h4>My Pledges:</h4>

<% @user.pledges.each do |pledge| %>
    <p> <%=  link_to pledge.project.name, project_path(@project) %>
        $<%= pledge.amount %>
    </p>
  <% end %>
