<div class="show-page-container">
  <div class="spacer"></div>

  <!-- <h1>User Profile Page</h1> -->

  <h1 class="hello-msg">Hello <%=@user.name.capitalize %>!</h1>

  <div class="user-info-container">
    <h3><span class="project-title"><%=@user.name.capitalize %>'s Projects:<span></h3>


      <% @user.projects.each do |project| %>
      <div class="user-projects">
        <p> <%= project.name %> </br>
            <%= project.description %> </br>
            <b>Goal:</b> $<%= project.goal %> </br>
            <b>Deadline:</b> <%= project.deadline %> </br>
        </p>
        </div>
      <% end %>

      <br>
      <br>
    <div class='new-project-link2'>
      <%= link_to "Start a Project", new_project_url %>
    </div>
  </div>




  <div class="pledges-container">
    <h4>My Pledges:</h4>


    <% @user.pledges.each do |pledge| %>
    <div class="user-projects">
        <p> <%=  link_to pledge.project.name, project_path(pledge.project.id) %>
        <br> $<%= pledge.amount %> <br> <%= pledge.reward.name %>
        </p>
      </div>
      <% end %>
  </div>



</div>
