<div class="spacer"></div>


<div class="slider">

  <div class="slideshow-container">
  <div class="mySlides fade">
    <img src="http://www.plantgrowthpromoters.com/images/banner12.jpg" style="width:100%">
    <div class="text">
      <h2>ABOUT<h2>
      <p>we are an innovative group designed to help like-minded inventors</p>
    </div>

  </div>

  <div class="mySlides fade">
    <img src="http://www.orthoquestpedorthics.com/files/56ce15b7-94dc-4c71-8fe0-0624d8b0b5a5.jpg" style="width:100%">
    <div class="text">
      <h2>Initiated<h2>
      <p>founded in 2002, we've already helped more than 20 inventors</p>
    </div>
  </div>

  <div class="mySlides fade">
    <img src="http://nature-to-nurture.co.uk/wp-content/uploads/2014/03/Spring-Nature-Beautiful-Lands-Banner-Nature-To-Nurture-Aromatherapy-In-Hemel-St-Albans.jpg" style="width:100%">
    <div class="text">
      <h2>How we can help you<h2>
      <p>you need money, we find people who can give you money!</p>
    </div>
  </div>


  <a class="prev" style="position:absolute; left:0" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" style="position:absolute; right:0" onclick="plusSlides(1)">&#10095;</a>

</div>

</div>





<div class='new-project-link'>
  <%= link_to 'New Project', new_project_path %>
</div>

<div class="projects-container">
    <div class="projects">
      <ul>
        <% @projects.each do |project| %>
          
          <div class="individual-project"><%= link_to project.name, project_path(project), :class => 'project-names' %>  <span class="info"><%= project.description %></span> <br> $<%= project.total_pledges %> pledged of $<%= project.goal %> <br> <%= project.days_remaining %> days remaining
            <div class='button'>
              <%= link_to "show more", project_path(project), :class => 'actions' %>
            </div>
          </div>

        <% end %>
      </ul>
    </div>

</div>



<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }


</script>
