<div class="spacer"></div>

<h1 class='project-page'>New Project</h1>

<%= form_for(@project)  do |f| %>
<div class="field-container1">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :goal %><br>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_field :deadline %>
  </div>
</div>

  <!-- Reward Level 1 -->

  <div class="field">
    <h2>Reward Level 1</h2>

    <%= f.fields_for :rewards do |rewards_fields| %>
      <div class="field">
        <%= rewards_fields.label :name %><br>
        <%= rewards_fields.text_field :name %>
      </div>

      <div class="field">
        <%= rewards_fields.label :description %><br>
        <%= rewards_fields.text_field :description %>
      </div>

      <div class="field">
        <%= rewards_fields.label :amount %><br>
        <%= rewards_fields.number_field :amount %>
      </div>

      <div class="field">
        <%= rewards_fields.label :quantity %><br>
        <%= rewards_fields.number_field :quantity %>
      </div>
    <% end %>

  </div>

  <!-- Reward Level 2 -->

  <div class="field">
    <h2>Reward Level 2</h2>

    <%= f.fields_for :rewards do |rewards_fields| %>
      <div class="field">
        <%= rewards_fields.label :name %><br>
        <%= rewards_fields.text_field :name %>
      </div>

      <div class="field">
        <%= rewards_fields.label :description %><br>
        <%= rewards_fields.text_field :description %>
      </div>

      <div class="field">
        <%= rewards_fields.label :amount %><br>
        <%= rewards_fields.number_field :amount %>
      </div>

      <div class="field">
        <%= rewards_fields.label :quantity %><br>
        <%= rewards_fields.number_field :quantity %>
      </div>
    <% end %>

  </div>

  <!-- Reward Level 3 -->

  <div class="field">
    <h2>Reward Level 3</h2>

    <%= f.fields_for :rewards do |rewards_fields| %>
      <div class="field">
        <%= rewards_fields.label :name %><br>
        <%= rewards_fields.text_field :name %>
      </div>

      <div class="field">
        <%= rewards_fields.label :description %><br>
        <%= rewards_fields.text_field :description %>
      </div>

      <div class="field">
        <%= rewards_fields.label :amount %><br>
        <%= rewards_fields.number_field :amount %>
      </div>

      <div class="field">
        <%= rewards_fields.label :quantity %><br>
        <%= rewards_fields.number_field :quantity %>
      </div>
    <% end %>

  </div>

    <div class="button"><%= f.submit 'Create Project', :class => 'actions' %></div>
<% end %>
