<h1><%= @project.name %></h1>
<div class="project-info">
  <p><span class="project-line">Project Description:</span> <%= @project.description %></p>
  <p><span class="project-line">Funding goal:</span> $<%= @project.goal %></p>
  <p><span class="project-line">Project Deadline:</span> <%= @project.deadline %></p>
  <p><span class="project-line">Funding raised:</span> $<%= @project.total_pledges %></p>
  <p><span class="project-line">Days Remaining:</span> <%= @project.days_remaining %></p>
</div>


<% @project.rewards.each do |reward| %>
<div class="reward-container">


  <%= form_for([@project, @pledge]) do |f| %>
  <%= f.hidden_field :reward_id, value: reward.id %>



          <div class="field">
            <strong><%= f.label :amount %></strong><br />
            <%= f.text_area :amount %>
          </div>
          <div class="button" id="button-project-ind">
            <div class="actions">
              <%= f.submit %>
            </div>
            <div class="space"></div>
          </div>
</div>
  <% end %>

<% end %>
