<H1><%= @project.name %></H1>
<p><strong>Funding goal:</strong> $<%= @project.goal %></p>
<p><strong>Project Destription:</strong> <%= @project.description %></p>
<p><strong>Project Deadline:</strong> <%= @project.deadline %></p>

<% @project.rewards.each do |reward| %>

  <%= form_for([@project, @pledge]) do |f| %>
  <%= f.hidden_field :reward_id, value: reward.id %>
          <div class="field">
            <%= f.label :amount %><br />
            <%= f.text_area :amount %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
  <% end %>
<% end %>
