<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header id="navbar">

      <nav class="navbar-class">


        <ul class="navbar-nav">


  <%= link_to projects_url do %>
    <%= image_tag('crowd_funder2.png') %>
  <% end %>


          <% if current_user %>
          <!--specifying that we are deleting, ending the session-->
          <!--we don't need the actual ID as the parameter ("current") of the user being logged out,
           because we are logging out the current user-->
            <li><%= link_to "Logout", session_path("current"), method: :delete %></li>

            <%else%>

          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
          <% end %>

          <!-- <li><%= link_to "Home", root_path %></li> -->
        </ul>
      </div>
    <!-- </nav> -->
  </header>


  <body>
    <div class="container">


          <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
          <% end %>

          <% if flash[:alert] %>
          <p id="alert"><%= flash[:alert] %></p>
          <% end %>



    <%= yield %>


  <footer>

  </footer>
</div>
  </body>
</html>
