<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <!--specifying that we are deleting, ending the session-->
    <!--we don't need the actual ID as the parameter ("current") of the user being logged out,
     because we are logging out the current user-->
      <%= link_to "Logout", session_path("current"), method: :delete %>

      <%else%>

    <%= link_to "Sign up", new_user_path %> |
    <%= link_to "Login", new_session_path %> |
    <% end %>

    <%= link_to "Home", root_path %>


    <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>


  <footer>

  </footer>
  </body>
</html>
